---
title: Ecom app
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="icon" href="/favicon.ico" sizes="48x48">
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml">
    <link rel="stylesheet" href="_includes/style.css">
  </head>
  <body>
    <header>
      header content
    </header>
    <main>
      {{ content | safe }}
    </main>
    <footer>
      footer content
    </footer>
  </body>
</html>